<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/standard_fragments::head_script">

</head>
<body>
	<div class="container"
		th:include="fragments/standard_fragments::header"></div>
	<nav class="navbar  navbar-default"
		th:include="fragments/standard_fragments::toolbar"></nav>
	<!-- /.navbar -->
	<div class="container"
		th:include="fragments/standard_fragments :: navigation"></div>
	<div class="container">
		<div class="row row-offcanvas row-offcanvas-right">
			<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
				<div class="panel panel-default"
					th:include="fragments/standard_fragments :: panelShowGroups"></div>
				<div class="panel panel-default"
					th:include="fragments/standard_fragments :: panelEmailBox"></div>
				<div class="panel panel-default"
					th:include="fragments/standard_fragments :: panelShowPost"></div>
			</div>
			<!--/.sidebar-offcanvas-->

			<div class="col-xs-12 col-sm-9">
				<p class="pull-right visible-xs">
					<button type="button" class="btn btn-primary btn-xs"
						data-toggle="offcanvas">Toggle nav</button>
				</p>
				<div class="row">
					<hr />
					<h4 th:text="${viewpost.title}"></h4>
					<p th:text="${viewpost.description}"
						th:class="${'glyphicon glyphicon-chevron-right'}"></p>

					<div data-ride="carousel" class="carousel slide"
						id="carousel-example-captions">
						<ol class="carousel-indicators">
							<li th:each="id,status : ${viewpost.postDoc}"
								data-target="#carousel-example-captions"
								th:attr="data-slide-to=${status.index}"
								th:class="${status.index eq 0}? 'active':''"></li>
						</ol>
						<div role="listbox" class="carousel-inner">
							<div th:each="postdoc, status : ${viewpost.postDoc}" class="item"
								th:class="${status.index eq 0}? 'item active':'item'">
								<img th:alt="${postdoc.altText}"
									th:src="@{/render_post_doc}+'/'+${viewpost.postId}+'/'+${postdoc.docId}"
									th:attr="data-src=@{/render_post_doc}+'/'+${viewpost.postId}+'/'+${postdoc.docId}"
									data-holder-rendered="true"
									style="width: 600px !important; height: 400px !important" />
								<div class="carousel-caption">
									<h4 th:text="${postdoc.altText}"></h4>
								</div>
							</div>
						</div>
						<a data-slide="prev" role="button"
							href="#carousel-example-captions" class="left carousel-control">
							<span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
							<span class="sr-only">Previous</span>
						</a> <a data-slide="next" role="button"
							href="#carousel-example-captions" class="right carousel-control">
							<span aria-hidden="true"
							class="glyphicon glyphicon-chevron-right"></span> <span
							class="sr-only">Next</span>
						</a>
					</div>
				</div>
				<!--/row-->
			</div>
			<!--/.col-xs-12.col-sm-9-->
		</div>
		<!--/row-->
		<hr />
		<footer>
			<p>
				&copy; Company 2014 <a th:href="@{/create-group}">Create group</a>
			</p>
		</footer>

	</div>
	<!--/.container-->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>